footer
{
    position:relative;
    .montain
    {
        width:100%;
        img
        {
            width:100%;
        }
    }
    
    .attribution {
        position:absolute;
        color:white;
        bottom:20px;
        left:50%;
        transform:translate(-50%);
        font-size: 11px; text-align: center;
        a{
            color: hsl(228, 45%, 44%);
        }
     }
    
}
