$primary-color: hsl(237, 18%, 59%);
$secondary-color : hsl(345, 95%, 68%);
$white:hsl(0, 0%, 100%);
$blue_dark:hsl(236, 21%, 26%);//#343650
$blue_very_dark : hsl(235, 16%, 14%);//#1E1F29
$blue_very_very_dark : hsl(234, 17%, 12%);//#191A24